In [6]:
import pandas as pd
import numpy as np

In [8]:
df = pd.read_csv('dataset/archive/heart_attack_indonesia.csv')

In [9]:
df.head()

,ID,State,Age,HeartAttack,Gender,Cholesterol,SmokingHabits,PhysicalActivity,BMI,Hypertension,...,EducationLevel,MaritalStatus,FamilyHistoryHeartDisease,IncomeLevel,HealthcareAccess,SleepHours,UrbanOrRural,AirQualityIndex,PollutionLevel,EmploymentStatus
0,1,Pekanbaru,32,No,Male,179,Smoker,High,19.1,Yes,...,Secondary,Single,No,Middle,Good,7.9,Urban,73,High,Unemployed
1,2,Makassar,15,Yes,Female,201,Non-smoker,High,26.9,No,...,Secondary,Married,No,Middle,Average,8.5,Urban,266,Moderate,Unemployed
2,3,Surabaya,41,No,Female,167,Non-smoker,Moderate,29.6,Yes,...,Primary,Single,No,Middle,Poor,7.3,Urban,132,Moderate,Employed
3,4,Malang,31,No,Male,287,Smoker,Moderate,19.4,No,...,Higher,Single,Yes,Middle,Good,4.8,Rural,64,High,Unemployed
4,5,Bali,19,No,Male,239,Smoker,High,18.5,No,...,Secondary,Married,No,Low,Poor,6.0,Urban,155,Moderate,Unemployed

In [10]:
df.isnull().sum()

ID                               0
State                            0
Age                              0
HeartAttack                      0
Gender                           0
Cholesterol                      0
SmokingHabits                    0
PhysicalActivity                 0
BMI                              0
Hypertension                     0
Diabetes                         0
AlcoholConsumption           56628
DietType                         0
OccupationType                   0
StressLevel                      0
EducationLevel                   0
MaritalStatus                    0
FamilyHistoryHeartDisease        0
IncomeLevel                      0
HealthcareAccess                 0
SleepHours                       0
UrbanOrRural                     0
AirQualityIndex                  0
PollutionLevel                   0
EmploymentStatus                 0
dtype: int64

In [14]:
df1 = df[['Age','HeartAttack','Gender','BMI','Diabetes','UrbanOrRural']]

In [16]:
df2 = df[['Cholesterol','SmokingHabits','PhysicalActivity','SleepHours','Hypertension']]

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170501 entries, 0 to 170500
Data columns (total 25 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   ID                         170501 non-null  int64
 1   State                      170501 non-null  object
 2   Age                        170501 non-null  int64
 3   HeartAttack                170501 non-null  object
 4   Gender                     170501 non-null  object
 5   Cholesterol                170501 non-null  int64
 6   SmokingHabits              170501 non-null  object
 7   PhysicalActivity           170501 non-null  object
 8   BMI                        170501 non-null  float64
 9   Hypertension               170501 non-null  object
 10  Diabetes                   170501 non-null  object
 11  AlcoholConsumption         113873 non-null  object
 12  DietType                   170501 non-null  object
 13  OccupationType             170501 non-null  object
 14  StressLevel                170501 non-null  object
 15  EducationLevel             170501 non-null  object
 16  MaritalStatus              170501 non-null  object
 17  FamilyHistoryHeartDisease  170501 non-null  object
 18  IncomeLevel                170501 non-null  object
 19  HealthcareAccess           170501 non-null  object
 20  SleepHours                 170501 non-null  float64
 21  UrbanOrRural               170501 non-null  object
 22  AirQualityIndex            170501 non-null  int64
 23  PollutionLevel             170501 non-null  object
 24  EmploymentStatus           170501 non-null  object
dtypes: float64(2), int64(4), object(19)
memory usage: 32.5+ MB

In [19]:
df1.head()

   Age HeartAttack  Gender   BMI Diabetes UrbanOrRural
0   32          No    Male  19.1       No        Urban
1   15         Yes  Female  26.9      Yes        Urban
2   41          No  Female  29.6       No        Urban
3   31          No    Male  19.4       No        Rural
4   19          No    Male  18.5       No        Urban

In [20]:
df2.head()

   Cholesterol SmokingHabits PhysicalActivity  SleepHours Hypertension
0          179        Smoker             High         7.9          Yes
1          201    Non-smoker             High         8.5           No
2          167    Non-smoker         Moderate         7.3          Yes
3          287        Smoker         Moderate         4.8           No
4          239        Smoker             High         6.0           No

In [24]:
# lis = []
# for i in df2['Cholesterol']:
#     if i > 180:
#         print('Good')
#         lis.append(i)
#     else:
#         print('Bad')
#         lis.append(i)

In [108]:
df2['Cholesterol'].value_counts().sum()

170501

In [184]:
df2.loc[:,'Cholesterol'] = df2['Cholesterol'].apply(lambda x: x > 200)

In [188]:
df2.loc[:,'SleepHours'] = df2['SleepHours'].apply(lambda x: x >= 7)

In [190]:
df2.head()

   Cholesterol SmokingHabits PhysicalActivity  SleepHours Hypertension
0        False        Smoker             High       False          Yes
1        False    Non-smoker             High       False           No
2        False    Non-smoker         Moderate       False          Yes
3        False        Smoker         Moderate       False           No
4        False        Smoker             High       False           No

In [192]:
df2['Cholesterol'].value_counts()

Cholesterol
False    170501
Name: count, dtype: int64

In [194]:
df2.isnull().sum()

Cholesterol         0
SmokingHabits       0
PhysicalActivity    0
SleepHours          0
Hypertension        0
dtype: int64

In [196]:
from sklearn.preprocessing import OrdinalEncoder
from sklearn.compose import ColumnTransformer

In [198]:
trf = ColumnTransformer(transformers = [
    # ('trf1',OrdinalEncoder(categories = [['False','True']]),[0]),
    ('trf2',OrdinalEncoder(categories = [['Smoker','Non-smoker']]),[1]),
    ('trf3',OrdinalEncoder(categories = [['Low','Moderate','High']]),[2]),
    # ('trf4',OrdinalEncoder(categories = [['False','True']]),[3]),
    ('trf5',OrdinalEncoder(categories = [['No','Yes']]),[4]),
],remainder = 'passthrough')

In [200]:
trf_trans = trf.fit_transform(df2)

In [202]:
ndf = pd.DataFrame(trf_trans,columns = df2.columns)

In [204]:
ndf.head()

   Cholesterol  SmokingHabits  PhysicalActivity  SleepHours  Hypertension
0          0.0            2.0               1.0         0.0           0.0
1          1.0            2.0               0.0         0.0           0.0
2          1.0            1.0               1.0         0.0           0.0
3          0.0            1.0               0.0         0.0           0.0
4          0.0            2.0               0.0         0.0           0.0

In [206]:
lifestyle = ndf['Cholesterol'] + ndf['SmokingHabits'] + ndf['PhysicalActivity'] + ndf['SleepHours'] + ndf['Hypertension']

In [208]:
lifestyle.head()

0    3.0
1    3.0
2    3.0
3    1.0
4    2.0
dtype: float64

In [210]:
lifestyle.value_counts()

2.0    57024
1.0    48480
3.0    36685
0.0    19762
4.0     8550
Name: count, dtype: int64

In [212]:
df3 = pd.DataFrame(lifestyle,columns = ['Lifestyle'])

In [214]:
df3.head()

   Lifestyle
0        3.0
1        3.0
2        3.0
3        1.0
4        2.0

In [216]:
df4 = pd.concat([df1,df3],axis=1)

In [218]:
df4.head()

   Age HeartAttack  Gender   BMI Diabetes UrbanOrRural  Lifestyle
0   32          No    Male  19.1       No        Urban        3.0
1   15         Yes  Female  26.9      Yes        Urban        3.0
2   41          No  Female  29.6       No        Urban        3.0
3   31          No    Male  19.4       No        Rural        1.0
4   19          No    Male  18.5       No        Urban        2.0

In [220]:
df4.isnull().sum()

Age             0
HeartAttack     0
Gender          0
BMI             0
Diabetes        0
UrbanOrRural    0
Lifestyle       0
dtype: int64

In [222]:
from sklearn.model_selection import train_test_split

In [224]:
X = df4.drop(columns = ['HeartAttack'])
y = df4['HeartAttack']

In [226]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.2,random_state = 42)

In [228]:
X_train.head()

        Age  Gender   BMI Diabetes UrbanOrRural  Lifestyle
74913    36    Male  24.1       No        Rural        1.0
78023    25  Female  31.1       No        Urban        1.0
128410   63    Male  28.5       No        Urban        3.0
51133    19    Male  22.7      Yes        Urban        2.0
19141    46  Female  19.0       No        Urban        1.0

In [230]:
y_train.head()

74913     No
78023     No
128410    No
51133     No
19141     No
Name: HeartAttack, dtype: object

In [232]:
trf_df4 = ColumnTransformer(transformers = [
    ('trf1',OrdinalEncoder(categories = [['Female','Male']]),['Gender']),
    ('trf2',OrdinalEncoder(categories = [['No','Yes']]),['Diabetes']),
    ('trf3',OrdinalEncoder(categories = [['Rural','Urban']]),['UrbanOrRural'])
],remainder = 'passthrough')

In [327]:
# trf_all = trf_df4.fit_transform(X_train)

In [329]:
# trf_df = pd.DataFrame(trf_all,columns = X_train.columns)

In [331]:
# trf_df

In [332]:
# trf_all

In [382]:
from sklearn.pipeline import Pipeline,make_pipeline
from sklearn.feature_selection import SelectKBest,chi2
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import MinMaxScaler
# from sklearn.preprocessing import StandardScaler

In [384]:
# Scaling
trf_scale = ColumnTransformer([
    ('scale',MinMaxScaler(),slice(0,7))
])

In [386]:
trf_scale

ColumnTransformer(transformers=[('scale', MinMaxScaler(), slice(0, 7, None))])

In [388]:
# Feature selection
trf_ftr = SelectKBest(score_func=chi2,k=5)

In [390]:
# train the model
trf_algo = DecisionTreeClassifier()

In [392]:
pipe = Pipeline([
    ('trf_df4',trf_df4),
    # ('trf_df',trf_df),
    ('trf_scale',trf_scale),
    ('trf_ftr',trf_ftr),
    ('trf_algo',trf_algo)
])

In [394]:
# train
pipe.fit(X_train,y_train)

Pipeline(steps=[('trf_df4',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf1',
                                                  OrdinalEncoder(categories=[['Female',
                                                                              'Male']]),
                                                  ['Gender']),
                                                 ('trf2',
                                                  OrdinalEncoder(categories=[['No',
                                                                              'Yes']]),
                                                  ['Diabetes']),
                                                 ('trf3',
                                                  OrdinalEncoder(categories=[['Rural',
                                                                              'Urban']]),
                                                  ['UrbanOrRural'])])),
                ('trf_scale',
                 ColumnTransformer(transformers=[('scale', MinMaxScaler(),
                                                  slice(0, 7, None))])),
                ('trf_ftr',
                 SelectKBest(k=5,
                             score_func=<function chi2 at 0x000001E186313B00>)),
                ('trf_algo', DecisionTreeClassifier())])

In [395]:
# Predict
y_pred = pipe.predict(X_test)

In [396]:
y_pred

array(['No', 'No', 'No', ..., 'No', 'No', 'No'], dtype=object)

In [397]:
from sklearn.metrics import accuracy_score
accr_rate = accuracy_score(y_test,y_pred)
print(accr_rate * 100 )

68.8924078472772

In [398]:
# export 
# import pickle
# pickle.dump(pipe,open('Heart_Attack_70.pkl','wb'))